doctype html
html
  head
    title Chat Forum
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 ChatForum
      .menu 
        if knownUser 
          include includes/header
    .container
      if knownUser
        h2 Emner
        each chat in chats 
          .post
            .post-header 
              - const owner = users.find(user => user.username === chat.owner)
              if owner
                a.owner(href="/users/" + owner.username) #{owner.username}
              else
                span Ukendt bruger
            .post-content
              a.subject(href="/chats/" + chat.id) #{chat.subject}
            .post-footer
              -const subjectCreateDato = new Intl.DateTimeFormat('da-DK').format(new Date(chat.createDate))
              span #{subjectCreateDato}
              a(href="/chats/" + chat.id) Kommenter
      else
        h2 Velkommen til ChatForum 
        h3 Log ind eller registrer dig
        a.button(href="/login") Login
        a.button(href="/register") Registrer dig
    footer
      p &copy; 2025 ChatForum
