html 
    head
        title Frontpage 
    body 
        include includes/header
            ul
                each chat in chats
                    li 
                        a(href="/chat/" + chat.subject)= chat.subject
            