html 
    head 
        title LoginPage 
    body 
        form() 
            input(type="text", name="username", class="username")
            input(type="password", name="password", class="password")
            button(type="button", class="loginButton") Login
        
        a(href="/register") Register
    script(src="login.js") 