doctype html
html
  head
    title Log ind
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 Log ind
    .container
      form()
        label(for="username") Brugernavn
        input(type="text", name="username", class="username", required)
        label(for="password") Adgangskode
        input(type="password", name="password", class="password", required)
        button.standard(type="button", class="loginButton") Log ind
    script(src="/login.js") 