html 
    head
        title Chat Forum
        link(rel="stylesheet", href="/css/styles.css") 
    body 
        header 
            include includes/header
        .container
            .post-header
                h2= "Beskeder sendt af " + userInfo.username 
            .post-content
                - let lastSubject = null
                each t in userchats
                    - const subject = chat.find(sub => sub.id == t.chatId)
                    if subject.subject !== lastSubject
                        p="Emne: " + subject.subject
                        - lastSubject = subject.subject
                    p="Besked: " + t.text
            button(type="button" onclick="history.back()") Tilbage
        footer
            p &copy; 2025 ChatForum
