html 
    head 
        title Register Page
        link(rel="stylesheet", href="/css/styles.css") 
    body
        .containter 
            form() 
                label(for="username") Username: 
                input(type="text", name="username", id="username", placeholder="Username")
                br
                label(for="password") Password: 
                input(type="password", name="password", id="password", placeholder="Password")
                br
                label(for="retypepass") Retype Password: 
                input(type="password", name="retypepass", id="retypepass", placeholder="Retype password")
                br
                label(for="userlevel") Initial Userlevel: Level 1
                p *Wait for admin approval to rise in level*
                button(type="button", id="submitBtn") Register
    script(src="register.js") 