html 
    head 
        title Unique Message 
        link(rel="stylesheet", href="/css/styles.css") 
    body 
        header 
            include includes/header
        .container
            h2= "Besked"
            p= "Besked: " + message.text
            p= "Sender: " + message.sender 
            p= "Sendt d. " + new Intl.DateTimeFormat('da-DK').format(new Date(message.createDate))