html 
    head 
        title Unique Message 
        link(rel="stylesheet", href="/css/styles.css") 
    body 
        header 
            include includes/header
        .container
            h2= "Chat"
            p= message.text