html
    head
        link(rel="stylesheet", href="/css/styles.css") 
    body
        header
            include includes/header
        .container
            .post-content
                h2= "Userlist"
                each user in users 
                    a(href="users/" + user.username) #{user.username}
                    br